body {
    background-image: url('old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 2400px; 
    left: 0px;
    width: 1920px;
    font-family: 'Amatic SC', cursive;
    font-size: 31px;
    color: white;
    line-height: 1.3;
    margin: 0px;
    text-align: left;
    position: relative;
}

/* Main Navigation Bar */ 

#TOP-BAR {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

#TOP-BAR-BUTTON {
    height: 100px;
    width: 130px;
    border: none;
    outline: none;
    color: red;
    padding-bottom: 10px;
    padding-top: 55px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    background-color: white;
}

#TOP-BAR-BUTTON:hover {
    color: grey;
}

/* This is for the Home Part */ 

#ROW1 {
    justify-content: space-around;
    display: flex;
    margin-top: 100px;
    line-height: 1.2;
}
#P1   {
    margin-top: 150px;
}


/* This is all for the Menu Page */ 
    
#MENU {
    justify-content: space-around;
    display: flex;
    line-height: 0.5pt;  
}
 #SAL {
     font-weight: bold;
     color: white; 
     font-size: 48px;
     text-align: left;         
     margin-left: 285px;
}
 #SALCONT{
    font-size: 50px;
    color: white;
    border: 1px solid;
    line-height: 30pt;
    padding: 20px;
    border-collapse: separate;
}
 p#SALCONT span {
    font-size:30px;
}
.ADDBUTTON {
    border: 3px solid black;
    cursor: pointer;
    transition-duration: 0.4s;
    float: right;
    font-size: 25px;
    padding-top: 2px;
}


/* Cart */ 
#Product {
    display:flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
#details {
    font-size: 30px; 
    line-height: 1pt;
    padding-top: 50px;
}
#price {
    font-size: 24px;
    padding-top: 50px;
}

hr {
    margin-top: 70px;
    border-top: 1px solid black;
}
#final {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
#total {
    margin-left: 120px;
    font-size: 40px;
}
#fprice {
    margin-right: 107px;
    font-size: 40px;
}
.p1 { 
    color: red;
    border: 2px solid red;
    padding: 17px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
    background-color:white; 
    /* TEMPORARY FIX */
    margin-top: -100px;
    font-size: 35px;
    float: right;
    margin-right: 80px;
}
#pay button:hover { 
    color: black;
    box-shadow: inset 0 -4px 0 black;
}
#details {
    font-size: 20px; 
    line-height: 1pt;
    padding-top: 50px;
}


/* Contact page */

#CONTACT1 {
font-size: 45px;
margin-left: 50px;

}

#CONTACT2 {
    font-size: 30px;
    margin-left: 50px;
    
    }


/* LOGIN PAGE */
.CONTAINER {
    text-align: center;
    margin-top: 50px;
    margin-right: 8px;
    }

.form_group {
    padding: 10px;  
    ;    
  display: block;  

}




    








/* This is the Footer*/ 
.FOOTER {
    margin-top: 140px;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 3pt;
    padding: 0.5px;
}